*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: url(trophies\ and\ plaques.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#menu-title{
    font-size: 4rem;
    text-align: center;
}

#titlebreak{
height:0.5em;
    background-color: aqua;
    border:solid aqua;
}

.menu-bg{
background:rgba(255, 185, 7,0.5);
margin-right:10%;
margin-left: 10%;
}

.menu-item{
    display: inline-flex;
    width:100%;
    margin-bottom: 5%;
}

.item-name{
    font-size:2em;
}

.item-desc{
    font-size:1.3em;
}

.item-price{
    font-size:2em;
   margin-left:auto;
   margin-right:10%;
}

#drink-title{
    font-size:4em;
    text-align:center;
}

#drink-title-break{
    height:0.5em;
    background-color: blue;
    border:solid blue;
}

#dessert-title{
    font-size:4em;
    text-align:center;
}

#dessert-title-break{
    height:0.5em;
    background-color: mediumorchid;
    border:solid mediumorchid;
}
