*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body{
   max-width: 100%;
   background-color:lemonchiffon;
}

.navbar{
    width:100%;
    padding:14px 16px;
    position: fixed;
    top:0;
    background-color: lemonchiffon;
}

.navbar ul{
display:flex;
justify-content: center;
justify-content:space-evenly;
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color:black;
}

/*hero*/

header{
   background-color: ivory; 
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height:100vh;
}

.hero-text p{
    max-width:25rem;
}

.hero-text button{
    border-radius: 0.2rem;
    padding:0.2rem;
    margin-top:0.5rem;
    font-size: 1.3rem;
}

/*food-menu-grid*/

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

